<%= render 'application/navbar' %>
<%= render 'navbar' %>

<h1>Mailing Lists</h1>
<% if params[:new_list] == "true" %>
  <%= form_with method: :put do |f| %>
    <%= f.text_field :name %>
    <%= f.submit %>
  <% end %>
<% else %>
  <%= link_to "New", "/admin-portal/mailing-lists?new_list=true" %>
<% end %>
<hr>
<% MailingList.all.each do |m| %>
  <h3><%= m.name %></h3><br>
  <% if params["#{m.name}-new-user"] == "true" %>
    <%= form_with method: :post do |f| %>
        <%= f.text_field :email %>
        <%= f.hidden_field :mailing_list_id, value: m.id %>
        <%= f.submit %>
    <% end %>
  <% else %>
    <%= link_to "Add User", "/admin-portal/mailing-lists?#{m.name}-new-user=true" %>
  <% end %>
  <%= link_to "Delete List", {controller: :administrator, action: :delete_mailing_list, list: m.id}, method: :delete %>
  <table border="1" cellpadding="20">
    <thead>
      <tr>
        <th>User</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% m.mailing_list_users.each do |mu| %>
        <tr>
          <td><%= mu.email %></td>
          <td><%= link_to "Remove", {controller: :administrator, action: :remove_user_mailing_list, user: mu.id}, method: :delete %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <hr/>
<% end %>