<div class="navbar">
  <div>
    <%= render "application/navbar" %>
    <%= render "navbar" %>
  </div>
  <h1>Orders</h1>
</div>

<hr/>

<script type=module>
  onload = (event) => {
      let hash = window.location.hash.substring(1)
      $(`#${hash}`).addClass("highlight")
  }
  const updateStatus = (oid) => {
      let newStatus = document.getElementById("status-" + oid).value
      fetch("/admin-portal/update-order-status", {
          method: "POST",
          headers: {
              "Content-Type": "application/json"
          },
          body: JSON.stringify({
              orderId: oid,
              status: newStatus
          })
      }).then(() => {
          $("#update-confirm-" + oid).removeClass("invisible")
          setTimeout(() => {
              $("#update-confirm-"+oid).addClass("invisible")
          }, 3000)
      })
  }
  window.updateStatus = updateStatus
</script>
<style>
  .highlight {
      background-color: #bababa;
  }
  .invisible {
      visibility: hidden;
  }
</style>

<ul class="nav">
  <% Order.all.each do |order| %>
    <li id="order-table-<%= order.id %>">
      <h2><%= order.created_at.to_s.gsub!(" ", ", ") %> - ID: <%= order.id %> - USER: <%= order.user.email %></h2>
      <table border="1" cellpadding="15">
        <thead>
        <tr>
          <th>Product</th>
          <th>Quantity</th>
          <th>Price</th>
          <th>Total</th>
        </tr>
        </thead>
        <tbody>
        <% order.cart.cart_products.each do |p| %>
          <tr>
            <td><%= p.product.name %></td>
            <td><%= p.quantity %></td>
            <td>$<%= Money.from_cents(p.product.price_cents) * p.quantity %></td>
            <td></td>
          </tr>
        <% end %>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td><strong>$<%= Money.from_cents(order.price_cents) %></strong></td>
        </tr>
        </tbody>
      </table>
      <% if order.shipping_address %>
        <% if order.billing_address %>
          <% @billing_address = order.billing_address %>
          <h3>Billing Address: <%= @billing_address.line1 %>, <%= @billing_address.city %>, <%= @billing_address.state %> <%= @billing_address.zip %> (<%= @billing_address.last_name %>, <%= @billing_address.first_name %>)</h3>
        <% end %>
        <% @shipping_address = order.shipping_address %>
        <h3>Shipping Address: <%= @shipping_address.line1 %>, <%= @shipping_address.city %>, <%= @shipping_address.state %> <%= @shipping_address.zip %> (<%= @shipping_address.last_name %>, <%= @shipping_address.first_name %>)</h3>
      <% end %>
      <label for=status-<%= order.id %>>Order status: </label>
      <%= select_tag("status-#{order.id}", options_for_select([
                                                                ["Submitted", 0],
                                                                ["Accepted", 1],
                                                                ["Rejected", 2],
                                                                ["Shipped", 3],
                                                                ["Completed", 4],
                                                                ["Returned", 5]
                                                              ], order.read_attribute_before_type_cast(:status)), :onchange => "updateStatus(#{order.id})") %>
      <h6 class="invisible" id="update-confirm-<%= order.id %>" style="color: limegreen;">Updated!</h6>
    </li>
    <hr/>
  <% end %>
</ul>