<%= stylesheet_link_tag "cart" %>

<div class="navbar">
  <div>
    <%= render "navbar" %>
    <%= link_to "Products", "/products" %>
  </div>
  <h1>Cart</h1>
</div>
<hr/>


<% if @cart.cart_products.length > 0 %>
  <ul class="products">
    <% @cart.cart_products.each do |pid| %>
      <li>
        <% @product = pid.product %>
        <img src="<%= pid.product.thumbnail.attached? ? url_for(pid.product.thumbnail) : "/slime.jpg" %>" alt="">
        <div class="product-name">
          <%= @product.name %>
        </div>
        <div class="quantity-counter">
          <%= button_to "+", { controller: :orders, action: :add_cart_qty, pid: @product.id }, { class: "inc" } %>
          <input id=counter-value class="value" type=number value=<%= pid.quantity %>>
          <%= button_to "-", { controller: :orders, action: :remove_cart_qty, pid: @product.id }, { class: "inc" } %>
        </div>
        <div class="product-price">
          $<%= Money.from_cents(@product.price_cents) %>
        </div>
      </li>
    <% end %>
  </ul>
  <br>
  <br>
  <div id=checkout-container>
    <%= button_to "Checkout", { controller: :application, action: :checkout }, { :method => :get, class: "styled-btn" } %>
  </div>
<% else %>
  <h2>Your cart is empty!</h2>
<% end %>
