<%= render 'navbar' %>
<% @cart = current_user.cart %>
<% @subtotal = 0 %>

<script type=module>
  const useSame = () => {
      if (document.getElementById("use-same").checked) {
          $("#shipping-address :input").prop('disabled', true)
      } else {
          $("#shipping-address :input").prop('disabled', false)
      }
  }
  $("#submit-order").on("click", e => {
      const checked = document.getElementById("use-same").checked
      const billing_address_line1 = document.getElementById("billing_address_line1").value
      const billing_city = document.getElementById("billing_city").value
      const billing_state_province = document.getElementById("billing_state_province").value
      const billing_zip = document.getElementById("billing_zip").value
      fetch("/payment-proceed", {
          method: "POST",
          headers: {
              "Content-Type": "application/json"
          },
          body: JSON.stringify({
              billing_address: {
                  line1: billing_address_line1,
                  city: billing_city,
                  state_province: billing_state_province,
                  zip: billing_zip,
                  save: document.getElementById("billing_save").checked
              },
              shipping_address: {
                  line1: checked ? billing_address_line1 : document.getElementById("shipping_address_line1").value,
                  city: checked ? billing_city : document.getElementById("shipping_city").value,
                  state_province: checked ? billing_state_province : document.getElementById("shipping_state_province").value,
                  zip: checked ? billing_zip : document.getElementById("shipping_zip").value,
                  save: checked ? false : document.getElementById("shipping_save").checked
              }
          })
      }).then(() => {
          window.location.href = "<%= request.base_url %>" + "/payment"
      });
  });
  window.useSame = useSame
</script>

<h1>Checkout</h1><br>
<h2>Cart</h2>
<ul>
  <% @cart.products.each do |pid| %>
    <li>
      <% @product = Product.find(pid) %>
      <% @subtotal += @product.price_cents %>
      <h3><%= @product.name %></h3>
      <h4>$<%= Money.from_cents(@product.price_cents) %></h4>
    </li>
  <% end %>
</ul>
<h3>Subtotal: $<%= Money.from_cents(@subtotal) %></h3>
<br>
<br>
<h2>Billing Address</h2>
<%= form_with do |f| %>
  <%= f.text_area :billing_address_line1, placeholder: "Address line 1" %><br>
  <%= f.text_area :billing_city, placeholder: "City" %>
  <%= f.label :billing_state_province_label, "State", for: :billing_state_province %>
  <%= f.select :billing_state_province, options_for_select(us_states), {} %><br>
  <%= f.text_area :billing_zip, placeholder: "Zip/Postal Code" %>
  <br>
  <p>Save info for later?</p>
  <%= f.check_box :billing_save %>
<% end %>
<label for="use-same">Use the same address for shipping?</label><input type=checkbox id="use-same" name="use-same" onchange="useSame()">
<h2>Shipping Address</h2>

<div id=shipping-address>
  <%= form_with do |f| %>
    <%= f.text_area :shipping_address_line1, placeholder: "Address line 1" %><br>
    <%= f.text_area :shipping_city, placeholder: "City" %>
    <%= f.label :billing_state_province_label, "State", for: :billing_state_province %>
    <%= f.select :billing_state_province, options_for_select(us_states), {} %><br>
    <%= f.text_area :shipping_zip, placeholder: "Zip/Postal Code" %>
    <br>
    <p>Save info for later?</p>
    <%= f.check_box :shipping_save %>
  <% end %>
</div>

<br>
<br>
<button id="submit-order">Proceed to payment</button>

