<h1>Slimed In</h1>
<h2>Navigation</h2>
<%= link_to "Products", {controller: :application, action: :productsv2} %>
<br>
<% if user_signed_in? %>
  <% if current_user.administrator %>
    <br>
    <%= link_to "Admin Portal", {controller: :administrator, action: :admin_portal} %>
  <% end %>
<% end %>
<br>
<br>
<h2>User</h2>
<%= link_to "Sign Up", "/sign-up" %>
<br>
<%= link_to "Sign In", "/sign-in" %>
<br>
<% if user_signed_in? %>
  <%= link_to "Orders", "/orders" %>
  <br>
  <%= link_to "Cart", "/cart" %>
  <br>
  <br>
  <%= button_to "logout", destroy_user_session_path, method: :delete %>
  <p>Current user: <%= current_user.email %></p>
<% end %>