<%= stylesheet_link_tag "cart" %>
<%= stylesheet_link_tag "payment" %>
<%= stylesheet_link_tag "checkout" %>

<div class="navbar">
  <div>
    <%= render "navbar" %>
    <%= link_to "checkout", "/checkout" %>
  </div>
  <h1>Payment</h1>
</div>
<hr/>

<h2>Cart</h2>
<ul class="products">
  <% @cart.cart_products.each do |pid| %>
    <li>
      <% @product = pid.product %>
      <img src="<%= @product.thumbnail.attached ? url_for(@product.thumbnail) : "/slime.jpg" %>" alt="">
      <div class="product-name">
        <%= @product.name %> x<%= pid.quantity %>
      </div>
      <div class="product-price">
        $<%= Money.from_cents(@product.price_cents) %> * <%= pid.quantity %>
      </div>
    </li>
  <% end %>
</ul>
<div class="info-block">
  <h2>Payment info: </h2>
  <ul>
    <% if @use_billing.value == "true" %>
      <li>Billing address: <%= "#{@billing_address.line1}, #{@billing_address.city}, #{@billing_address.state} #{@billing_address.zip}" %></li>
    <% end %>
    <li>Shipping address: <%= "#{@shipping_address.line1}, #{@shipping_address.city}, #{@shipping_address.state} #{@shipping_address.zip}" %></li>
    <li>Paying with: only PayPal is supported at the moment, sorry!</li>
  </ul>
</div>

<div class="info-block">
  <h3>Price:</h3>
  <ul>
    <% current_user.current_cart.cart_products.each do |pid| %>
      <li>
        <% @product = pid.product %>
        $<%= Money.from_cents(@product.price_cents) %> * <%= pid.quantity %> = $<%= Money.from_cents(@product.price_cents*pid.quantity) %>
      </li>
    <% end %>
  </ul>
  <div id=confirmers>
    <h4>Subtotal: $<%= Money.from_cents(@subtotal) %></h4>
    <h4>Sales tax<% if @use_billing.value == "true" %> (<%= @billing_address.city %>, <%= @billing_address.state %>)<% end %>: $<%= Money.from_cents(@tax) %></h4>
    <h2>Total: $<%= Money.from_cents(@total) %></h2>
  </div>
</div>
<script src="https://www.paypal.com/sdk/js?client-id=<%= ENV["PAYPAL_CLIENT_ID"] %>"></script>
<div id="paypal-button-container" class="info-block"></div>
<script type="module">
    paypal.Buttons({
        env: "<%= ENV["PAYPAL_ENV"] %>",
        createOrder: async () => {
            const cartId = <%= @cart.id %>;
            let response
            <% if @use_billing.value == "true" %>
                response = await fetch(`/create-order/${cartId}/<%= @shipping_address.id %>/<%= @billing_address.id %>`, {
                    method: 'POST',
                });
            <% else %>
                response = await fetch(`/create-order/${cartId}/<%= @shipping_address.id %>`, {
                    method: 'POST',
                });
            <% end %>
            const responseData = await response.json();
            return responseData.token;
        },
        onApprove: async(data) => {
            const response = await fetch ('/capture-order', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ order_id: data.orderID })
            })

            const responseData = await response.json()

            if (responseData.status === 'COMPLETED') {
                window.location.href = `<%= request.base_url %>/order_success/${responseData.order}`
            }

        }
    }).render("#paypal-button-container");
</script>

