<%= stylesheet_link_tag "products" %>

<div class="navbar">
  <div>
    <%= render "navbar" %>
    <%= link_to "Cart", "/cart" %>
  </div>
  <h1>Products</h1>
</div>
<hr/>
<div class="products">
  <% Product.all.each do |product| %>
    <% if product.listed %>
        <div class="product">
          <a href="/product/<%= product.id %>">
            <% if product.thumbnail.attached? %>
              <img src="<%= url_for product.thumbnail %>"alt="splaaaaat?">
            <% else %>
              <img src="/slime.jpg" alt="splaaaat"/>
            <% end %>
          </a>
          <a href="/product/<%= product.id %>">
            <h3><%= product.name %></h3>
          </a>
        </div>
    <% end %>
  <% end %>

</div>